.philosopher__image{
    width: 100%;
    display: flex;
}

.philosopher__text p{
    background-color: #D99B50;
}

/*SEPARAR! banner e article*/

#banner p, article p{
    margin: 3vh 0vh;
    text-align: center;
}

.philosopher__credentials{
    font-size: 1.5rem;
    text-align: center;
}

.philosopher__date{
    margin-bottom: 2.5%;
}