.header{
        
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    background-color: #000;
}

.header__name-website{
    color: #bfa49F;
    font-size: clamp(1.5rem, 2.5vw, 6rem);
}

.header__routes{
    margin: 0.75rem;
}

.header *{ 
    background-color: inherit;
}

.header__icon{
    align-self: center;
}

header a{
    color: #FFF;
    background-color: #000;
    gap: 1rem;
}

@media(max-width: 768px){
    .header__routes{
        display: none;
    }

    .header__icon{
        height: 5vh;
        width: 15vw;
        object-fit: contain;
        height: auto;

    }

}

@media(min-width: 769px) {
    .header__menu-hamburger{
        display: none;
    }
}