@media(max-width: 470px){


    p{
        font-size: 1rem;
    }

    header img{
        height: 10vh;
        width: 15vw;
        object-fit: contain;
    }

    header h1{
        font-size: 1rem;
    }

    header{
        height: 10vh;
    }
}

@media(max-width: 768px) {


    #banner img{
        height: 65vh;
    }



    .philosopher img{
        object-fit: cover;
        height: 50vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

/* - Seção de destaque com imagem e texto lado à lado; == feito
- Cards em 2 colunas == feito
- Fonte aumenta com `clamp()`*/

    header h1, header a{
        font-size: clamp(1rem, 3vh, 3rem);
    }

    header img{
        height: 2vh;
        width: 15vw;
        object-fit: contain;
    }

    #letterPhi{
        height: 15vh;
    }

    #banner{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        
    }

    #banner img{
        width: 60vw;
        height: 50vh;
        margin: 1vw, 2vh;
    }

    #menuHamburger{
        display: none;
    }

    article{
        display: grid;
        grid-template: 1fr 1fr 1fr/ 1fr 1fr;

    }

    article p{
        font-size: clamp(0.5rem, 0.75rem, 1rem);
    }

    .philosopher{
        align-content: start;
        gap: 2vw;
        margin: 0vh 2vw;
    }

    .philosopher img{
        width: 40vw;
        height: 40vh;
    }

    h2{
        font-size: (0.5rem, 1.25rem, 1.5rem);
    }
}

@media (min-width: 1025px){
    #menuHamburger{
        display: none;
    }

    #letterPhi{
        height: 15vh;
    }

    article{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;

    }

    .philosopher{
        align-content: start;
        align-items: start;
        gap: 2vw;
        margin: 0vh 2vw;
        
    }

    .philosopher img{
        width: 20vw;
        height: 30vh;
        object-position: 70% 30%;
    }

    #banner{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        
    }

    #banner img{
        width: 60vw;
        height: 50vh;
        margin: 1vw, 2vh;
    }

    header h1, header a{
        font-size: clamp(0.75rem, 1rem, 1.25rem);
    }

    header img{
        height: 2vh;
        width: 15vw;
        object-fit: contain;
    }

    article p, footer p{
        font-size: clamp(0.5rem, 0.75rem, 1rem);
    }

}