*{
    padding: 0%;
    margin: auto;

    list-style: none;
    text-decoration: none;
    color: #000;
    background-color: #CDCDCD;
    text-align: justify;

    font-size: 1.5rem;

    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;

}

header{
        
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100vw;
}

header h1{
    color: #bfa49F;
    font-size: 2rem;
}

#navList a{
    margin: 0.75rem;
}

header, header h1, header nav, header img, #navList{ 
    background-color: #000;
}

img{
    object-fit: cover;
    display: flex;
}

#menuHamburger, #letterPhi{
    align-self: center;
}

header a{
    color: #FFF;
    background-color: #000;
    gap: 1rem;
}

#banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#banner #fraseCitacao{
    margin-bottom: 0%;
}

#citacao #autorCitacao{
    margin-top: 0%;
    align-self: flex-end;
}

#banner img{
    height: 90vh;
    width: 100vw;
    display: flex;
}

.imagePhilosopher{

    display: flex;
}

.textPhilosopher p{
    background-color: #D99B50;
}

#banner p, article p{
    margin: 3vh 0vh;
    text-align: center;
}

article h2{
    font-size: 1.5rem;
    text-align: center;
}

.datePhilosopher{
    margin-bottom: 2.5%;
}

footer{
    text-align: center;
}

@media(max-width: 470px){


    p{
        font-size: 1rem;
    }

    header img{
        height: 10vh;
        width: 15vw;
        object-fit: contain;
    }

    header h1{
        font-size: 1rem;
    }

    header{
        height: 10vh;
    }
}

@media(max-width: 768px) {
    #navList{
        display: none;
    }

    #banner img{
        height: 65vh;
    }

    header img{
        height: 5vh;
        width: 15vw;
        object-fit: contain;
    }

    #letterPhi, #menuHamburger{
        height: auto;
    }

    .philosopher img{
        object-fit: cover;
        height: 50vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

/* - Seção de destaque com imagem e texto lado à lado; == feito
- Cards em 2 colunas == feito
- Fonte aumenta com `clamp()`*/

    header h1, header a{
        font-size: clamp(1rem, 3vh, 3rem);
    }

    header img{
        height: 2vh;
        width: 15vw;
        object-fit: contain;
    }

    #letterPhi{
        height: 15vh;
    }

    #banner{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        
    }

    #banner img{
        width: 60vw;
        height: 50vh;
        margin: 1vw, 2vh;
    }

    #menuHamburger{
        display: none;
    }

    article{
        display: grid;
        grid-template: 1fr 1fr 1fr/ 1fr 1fr;

    }

    article p{
        font-size: clamp(0.5rem, 0.75rem, 1rem);
    }

    .philosopher{
        align-content: start;
        gap: 2vw;
        margin: 0vh 2vw;
    }

    .philosopher img{
        width: 40vw;
        height: 40vh;
    }

    h2{
        font-size: (0.5rem, 1.25rem, 1.5rem);
    }
}

@media (min-width: 1025px){
    #menuHamburger{
        display: none;
    }

    #letterPhi{
        height: 15vh;
    }

    article{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;

    }

    .philosopher{
        align-content: start;
        align-items: start;
        gap: 2vw;
        margin: 0vh 2vw;
        
    }

    .philosopher img{
        width: 20vw;
        height: 30vh;
        object-position: 70% 30%;
    }

    #banner{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        
    }

    #banner img{
        width: 60vw;
        height: 50vh;
        margin: 1vw, 2vh;
    }

    header h1, header a{
        font-size: clamp(0.75rem, 1rem, 1.25rem);
    }

    header img{
        height: 2vh;
        width: 15vw;
        object-fit: contain;
    }

    article p, footer p{
        font-size: clamp(0.5rem, 0.75rem, 1rem);
    }

}